force-app/main/default/flows/Map_Single_Location_to_Hierarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Found_GU_Parent</name>
        <label>Found GU?</label>
        <locationX>716</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Create_GU_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GU Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_GU_Parent_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objFoundGU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_GU_HQ_Parent</targetReference>
            </connector>
            <label>Found GU</label>
        </rules>
    </decisions>
    <decisions>
        <name>GU_Exists</name>
        <label>GU Exists?</label>
        <locationX>650</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Create_GU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GU Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>c_GU_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objFoundGU.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent_GU</targetReference>
            </connector>
            <label>GU Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Found_HQ_a_Branch_or_Single_Location</name>
        <label>Is Found HQ a Branch or Single Location?</label>
        <locationX>333</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>c_Assign_Found_HQ_as_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>c_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objFoundParent.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_GU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_a_GU</name>
        <label>Is Parent a GU?</label>
        <locationX>420</locationX>
        <locationY>403</locationY>
        <defaultConnector>
            <targetReference>Search_GU_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not GU</defaultConnectorLabel>
        <rules>
            <name>GU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAccountToMap.D_B_Parent_DUNS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
                </rightValue>
            </conditions>
            <label>GU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_GU</name>
        <label>Is Parent &lt;&gt; GU?</label>
        <locationX>864</locationX>
        <locationY>106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_GU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAccountToMap.D_B_Parent_DUNS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Found_GU_Parent_of_Branch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Found</name>
        <label>Parent Found</label>
        <locationX>147</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Create_Parent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent Not Found</defaultConnectorLabel>
        <rules>
            <name>c_Parent_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objFoundParent.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Found_HQ_a_Branch_or_Single_Location</targetReference>
            </connector>
            <label>Parent Found</label>
        </rules>
    </decisions>
    <description>This subflow maps a Single Location Account to the Hierarchy</description>
    <interviewLabel>Map Single Location to Hierarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map Single Location to Hierarchy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GU</name>
        <label>Create GU</label>
        <locationX>830</locationX>
        <locationY>292</locationY>
        <assignRecordIdToReference>vNewGUId</assignRecordIdToReference>
        <connector>
            <targetReference>Make_New_GU_parent</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNB_D_U_N_S_Number__c</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objAccountToMap.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objAccountToMap.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_GU_Parent</name>
        <label>Create GU</label>
        <locationX>942</locationX>
        <locationY>422</locationY>
        <assignRecordIdToReference>vNewGUId</assignRecordIdToReference>
        <connector>
            <targetReference>Make_GU_New_HQ_Parent</targetReference>
        </connector>
        <inputAssignments>
            <field>DNB_D_U_N_S_Number__c</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objAccountToMap.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objAccountToMap.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent</name>
        <label>Create Parent</label>
        <locationX>156</locationX>
        <locationY>400</locationY>
        <assignRecordIdToReference>vParentID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_New_Parent</targetReference>
        </connector>
        <inputAssignments>
            <field>DNB_D_U_N_S_Number__c</field>
            <value>
                <elementReference>objAccountToMap.D_B_Parent_DUNS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountToMap.D_B_Parent_Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objAccountToMap.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objAccountToMap.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Search_GU</name>
        <label>Search GU</label>
        <locationX>524</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GU_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNB_D_U_N_S_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objFoundGU</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DNB_D_U_N_S_Number__c</queriedFields>
        <queriedFields>Account_Process_Ran__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_GU_Parent</name>
        <label>Search GU</label>
        <locationX>570</locationX>
        <locationY>399</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_GU_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNB_D_U_N_S_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objFoundGU</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_Parent</name>
        <label>Search Parent</label>
        <locationX>155</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNB_D_U_N_S_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.D_B_Parent_DUNS__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objFoundParent</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DNB_D_U_N_S_Number__c</queriedFields>
        <queriedFields>Account_Process_Ran__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>D_B_GU_Business_Name__c</queriedFields>
        <queriedFields>D_B_GU_DUNS__c</queriedFields>
        <queriedFields>D_B_DU_Business_Name__c</queriedFields>
        <queriedFields>D_B_DU_DUNS__c</queriedFields>
        <queriedFields>Entity_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_New_Parent</name>
        <label>Assign New Parent</label>
        <locationX>290</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>Is_Parent_a_GU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>c_Assign_Found_HQ_as_Parent</name>
        <label>Assign Found HQ as Parent</label>
        <locationX>343</locationX>
        <locationY>54</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objFoundParent.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Found_GU_Parent_of_Branch</name>
        <label>Make Found GU Parent of Branch</label>
        <locationX>1015</locationX>
        <locationY>102</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objFoundGU.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_GU_HQ_Parent</name>
        <label>Make GU HQ Parent</label>
        <locationX>939</locationX>
        <locationY>536</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objFoundGU.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_GU_New_HQ_Parent</name>
        <label>Make GU New HQ Parent</label>
        <locationX>1082</locationX>
        <locationY>421</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParentID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vNewGUId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Make New GU parent of new Branch</description>
        <name>Make_New_GU_parent</name>
        <label>Make New GU parent</label>
        <locationX>966</locationX>
        <locationY>292</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vNewGUId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Search_Parent</startElementReference>
    <status>Active</status>
    <variables>
        <name>objAccountToMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objFoundGU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objFoundParent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objNewGU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Account ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewGUId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vParentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
