force-app/main/default/flows/Map_HQ_to_Hierarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_Found_Parent_a_Branch_or_Single_Location</name>
        <label>Is Found Parent a Branch or Single Location</label>
        <locationX>310</locationX>
        <locationY>227</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>v_FoundAccount.Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_GU</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_FoundAccount.Entity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Branch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_FoundAccount.DNB_D_U_N_S_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objAccountToMap.DNB_D_U_N_S_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Account_as_Parent</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Record_Found</name>
        <label>Parent Record Found?</label>
        <locationX>300</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Create_GU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_FoundAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>v_FoundAccount.Entity_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Branch</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Found_Parent_a_Branch_or_Single_Location</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <description>Map HQ Accounts under GU Account</description>
    <interviewLabel>Map HQ to Hierarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map HQ to Hierarchy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GU</name>
        <label>Create GU</label>
        <locationX>556</locationX>
        <locationY>60</locationY>
        <assignRecordIdToReference>v_NewGU.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_New_Branch_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNB_D_U_N_S_Number__c</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objAccountToMap.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objAccountToMap.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_to_Map</name>
        <label>Get Account to Map</label>
        <locationX>103</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_GU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objAccountToMap</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>D_B_GU_DUNS__c</queriedFields>
        <queriedFields>D_B_GU_Business_Name__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>DNB_D_U_N_S_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_GU</name>
        <label>Search GU</label>
        <locationX>165</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNB_D_U_N_S_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>v_FoundAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>D_B_GU_DUNS__c</queriedFields>
        <queriedFields>D_B_GU_Business_Name__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>D_B_DU_Business_Name__c</queriedFields>
        <queriedFields>D_B_DU_DUNS__c</queriedFields>
        <queriedFields>DNB_D_U_N_S_Number__c</queriedFields>
        <queriedFields>Entity_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Found_Account_as_Parent</name>
        <label>Assign Found Account as Parent</label>
        <locationX>316</locationX>
        <locationY>520</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>v_FoundAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Branch_Account</name>
        <label>Update New Branch Account</label>
        <locationX>556</locationX>
        <locationY>225</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>v_NewGU.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_Account_to_Map</startElementReference>
    <status>Active</status>
    <variables>
        <description>New account to be mapped</description>
        <name>objAccountToMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_FoundAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_NewAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_NewGU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
