force-app/main/default/flows/Map_True_Branch_to_Hierarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Found_GU</name>
        <label>Found GU?</label>
        <locationX>789</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Create_GU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GU Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_GU_Acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objGUAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_HQ_same_as_GU</targetReference>
            </connector>
            <label>Found GU</label>
        </rules>
    </decisions>
    <decisions>
        <name>HQ_Found</name>
        <label>HQ Found?</label>
        <locationX>297</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Create_HQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_FoundAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_HQ_as_Parent</targetReference>
            </connector>
            <label>Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_HQ_same_as_GU</name>
        <label>Is HQ same as GU?</label>
        <locationX>936</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HQ_GU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objAccountToMap.D_B_HQ_DUNS__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_GU_Parent_of_HQ</targetReference>
            </connector>
            <label>HQ &lt;&gt; GU</label>
        </rules>
    </decisions>
    <description>This sub flow maps a true D&amp;B Branch to the Account Hierarchy</description>
    <interviewLabel>Map True Branch to Hierarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map True Branch to Hierarchy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_GU</name>
        <label>Create GU</label>
        <locationX>795</locationX>
        <locationY>322</locationY>
        <assignRecordIdToReference>vGUAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Make_New_GU_Parent_of_HQ</targetReference>
        </connector>
        <inputAssignments>
            <field>DNB_D_U_N_S_Number__c</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountToMap.D_B_GU_Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objAccountToMap.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objAccountToMap.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_HQ</name>
        <label>Create HQ</label>
        <locationX>484</locationX>
        <locationY>49</locationY>
        <assignRecordIdToReference>vHQAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Make_New_Account_the_HQ</targetReference>
        </connector>
        <inputAssignments>
            <field>DNB_D_U_N_S_Number__c</field>
            <value>
                <elementReference>objAccountToMap.D_B_HQ_DUNS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>objAccountToMap.D_B_HQ_Business_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>objAccountToMap.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objAccountToMap.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Search_GU_Account</name>
        <label>Search GU Account</label>
        <locationX>796</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_GU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNB_D_U_N_S_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.D_B_GU_DUNS__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objGUAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_HQ</name>
        <label>Search HQ</label>
        <locationX>166</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HQ_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNB_D_U_N_S_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.D_B_HQ_DUNS__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>v_FoundAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>D_B_GU_DUNS__c</queriedFields>
        <queriedFields>D_B_GU_Business_Name__c</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>D_B_DU_Business_Name__c</queriedFields>
        <queriedFields>D_B_DU_DUNS__c</queriedFields>
        <queriedFields>DNB_D_U_N_S_Number__c</queriedFields>
        <queriedFields>Entity_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Found_HQ_as_Parent</name>
        <label>Assign Found HQ as Parent</label>
        <locationX>308</locationX>
        <locationY>217</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>v_FoundAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_GU_Parent_of_HQ</name>
        <label>Make GU Parent of HQ</label>
        <locationX>1128</locationX>
        <locationY>183</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vHQAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objGUAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Make HQ DUNS the Account D&amp;B Number</description>
        <name>Make_New_Account_the_HQ</name>
        <label>Make New Account the HQ</label>
        <locationX>655</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Search_GU_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAccountToMap.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Process_Ran__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vHQAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_New_GU_Parent_of_HQ</name>
        <label>Make New GU Parent of HQ</label>
        <locationX>795</locationX>
        <locationY>448</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vHQAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>vGUAccountID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Search_HQ</startElementReference>
    <status>Active</status>
    <variables>
        <name>objAccountToMap</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objGUAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>v_FoundAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vGUAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Keep ID of the nearly created HQ Account</description>
        <name>vHQAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
